<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-5"></div>
  <h2>All Posts</h2>        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>User</th>
      </tr>
    </thead>
      <tbody>
          <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td ><%= post.content %></td>
          <% if current_user.id == post.user.id %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <td><%= post.user.name %></td>
          <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
