<!DOCTYPE html>
<html>
  <head>
    <title>Devise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="container">
        <%= render :partial => "shared/navigation" %>
      <nav class="row">
      <nav class="col-md-4"></nav>
      <nav class="col-md-4">
      </nav>
      <nav class="col-md-4"></nav>
      </nav>
    </nav>
    <%= yield %>
  </body>
</html>
