<% @books.each do |book| %>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 books" >
            <h3><a class="title" href="/<%= book[:id] %>"><%= book[:title] %></a></h3>
            <p><%= book[:author] %></p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= book[:id]%>">Blurb</button>

            <div class="modal fade" id="<%= book[:id]%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title modalText" id="exampleModalLabel"><%= book[:title] %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body modalText">
                    <p><%= book[:blurb] %></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 
        </div>
        <div class="col-md-4"></div>
    </div>
<% end %>

